@using WebClient.Components
@using WebClient.Components.General.Home
@model HomeViewModel

@{
	ViewData["Title"] = "Home Page";
	ViewData["Module"] = "Home";
	ViewData["Action"] = "Dashboard";
	ViewData["Url"] = Url.Action("Index", "Home");

	var componentName = nameof(HomeComponent);
	var componentParameters = new Dictionary<string, object>
	{
		{ nameof(HomeComponent.ListaEmpresas), Model.ListaEmpresas},
		{ nameof(HomeComponent.ListaGrupos), Model.ListaGrupos},
		{ nameof(HomeComponent.ListaGestiones), Model.ListaGestiones},
	};
}

@section Styles {

}

@section ContentHeader {
	<nav class="flex">

	</nav>
}
<component type="typeof(MainComponent)"
		   param-ComponentTypeName="typeof(HomeComponent).FullName"
		   param-Parameters="@componentParameters"
		   render-mode="ServerPrerendered" />
