@using WebClient.Models
@model ErrorViewModel;

@{
    ViewBag.Title = "Error";
}

<h1>Error</h1>
<h2>Se ha producido un error al procesar su solicitud.</h2>

@* @if (Model.Error != null && Model.Path != null) *@
@* { *@
@*     <p>Excepción: @Model.Error.Message</p> *@
@*     <p>Ruta: @Model.Path</p> *@
@*     break; *@
@* } *@